* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #38035f;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
body {
    background-image: url('https://i.pinimg.com/originals/b0/89/85/b0898543c4d6b5b83ddd33dd46138f50.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    min-height: 100vh;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(242, 239, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h1, h2 {
    color: #000000;
    text-align: center;
}
label {
    font-weight: bold;
    color: #000000;
}
.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 8px 15px;
    background: #38035f;
    color: white;
    border: none;
    cursor: pointer;
}